@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$main-color: #eeeeee;

// Colors
$purple-areo-happy: #8f57fd;
$blue-aero-happy: #00ddcd;
$yellow-aero-happy: #ffaa00;
$red-aero-happy: #f33959;
$blue-aero-happy-bg: #136ef1;
$grey-font-aero-happy: #9aa9b9;
$purple-aero-happy: #56446f;
$dark-purple: #3d2b56;
$search-aero-happy: #4300d1;
$font-ligth-grey: #8898AA;
$blue-ligth3: #480ec4;
$blue-ligth4: #0b66e4;
$color-search: #f7f7f7;
$color-instagram: #980dd9;
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #4875B4;
$color-play-store: #080808;

// Breakpoints
$large-size: 968px;
$medium-size: 768px;
$small-size: 480px;
