@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$main-color: #f8f8f8;

// Colors
$purple-areo-happy: #8f57fd;
$blue-aero-happy: #00ddcd;
$yellow-aero-happy: #ffaa00;
$red-aero-happy: #f33959;
$blue-aero-happy-bg: #136ef1;
$grey-font-aero-happy: #9aa9b9;
$purple-aero-happy: #56446f;
$dark-purple: #3d2b56;

$colorSearch: #f7f7f7;
$colorInstagram: #980dd9;
$colorFacebook: #3b5998;
$colorTwitter: #1da1f2;
$colorPlayStore: #080808;
$colorHover: #1ec69f;

// breakpoints
$large-size: 960px;
$medium-size: 768px;
$small-size: 480px;
