.container-form {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;

  @media (max-width: $large-size) {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;

    .left {
      display: none;
      margin-top: none;
    }
  }

  @media (max-width: $small-size) {
    margin: 0 auto;
    width: 100%;

    .left {
      display: none;
    }
  }

  .separate-register {
    margin: 0px 3px;
  }

  .left {
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/aero-happy.appspot.com/o/mobile.png?alt=media&token=25c0a91a-2375-489d-86e7-5c86daa429ae');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: linear-gradient(135deg, $blue-aero-happy-bg 10%, $purple-areo-happy 100%);
    box-sizing: border-box;
  }

  .right {
    padding: 40px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);

    .login-form {
      text-align: left;
    }

    @media (max-width: $large-size) {
      width: 100%;
    }

    h5 {
      font-size: 6vmax;
      line-height: 0;
    }

    p {
      font-size: 14px;
      color: $grey-font-aero-happy;
    }

    label {
      color: $font-ligth-grey;
    }

    .inputs {
      overflow: hidden;
    }

    .login-form {
      margin-top: 16px;
    }

    input {
      border: 2px solid $blue-aero-happy;
      color: $blue-aero-happy;
      border-radius: 10px;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      outline: none;
      transition: 1s;
      font-weight: bold;
      background: transparent;

      &:hover {
        border: 2px solid $blue-aero-happy-bg;
        color: $blue-aero-happy-bg;
      }

      &::placeholder {
        opacity: 0.5;
        color: $grey-font-aero-happy;
      }
    }

    .container-forgot {
      margin-top: 25px;
      text-align: right;
    }

    .container-button {
      text-align: right;
      margin-top: 30px;
    }

    .container-social-title {
      text-align: center;
    }

    .container-button-social {
      margin-top: 25px;
    }

    i {
      text-align: center;
    }

    .button-social {
      border: none;
      width: 100%;
      margin: 5px;
      cursor: pointer;
      outline: none;
      border-radius: 15px;
      padding: 10px;
      font-weight: bold;
      transition: 1s;
    }

    i {
      padding: 0px 5px;
    }

    .twitter {
      background: $color-twitter;
      color: #fff;

      &:hover {
        border: none;
        color: $color-twitter;
        background: transparent;
      }
    }

    .instagram {
      background: $color-play-store;
      color: #fff;

      &:hover {
        border: none;
        color: $color-play-store;
        background: transparent;
      }
    }

    .container-login {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      padding: 12px 35px;
      border-radius: 50px;
      border: 0;
      outline: 0;
      background-color: $blue-aero-happy;
      transition: 1s;

      &:hover {
        background-color: $blue-aero-happy-bg;
      }
    }
  }
}
